{% load static %}

<footer>
    <div class="container">
        <div class="footer">
            <div>
                <a href="/"><img class="footer__menu" src="{% static "logo_white.png" %}"></a>
                <h3>г. Ростов-на-Дону, Российская Федерация</h3>
                <h2>+7 (495) 108-06-61</h2>
                <h2>info@ungg.ru</h2>
            </div>
            <div>
                <h4>ОСНОВНЫЕ ПОДРАЗДЕЛЕНИЯ</h4>
                <div class="footer__filials">
                    <div>
                        <h5>ООО “ИНСТИТУТ ЮЖНИИГИПРОГАЗ”</h5>
                        <p>проспект Буденновский, д 106/2, г. Ростов-на-Дону, Ростовская область.</p>
                        <p>+7 (863) 203-62-70</p>
                    </div>
                    <div>
                        <h5>ФИЛИАЛ ООО “ИНСТИТУТ ЮЖНИИГИПРОГАЗ”</h5>
                        <p>ул. Артема, д 169г, г. Донецк, Донецкая Народная Республика.</p>
                        <p>+7 (863) 203-62-70</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>