{% extends "components/layout.html" %}

{% load static %}


{% block title %}Главная{% endblock title %}



{% block content %}
<section class="achievements_page__wrapper">
    <div class="container">
        <div class="achievements_page">
            <h2>ДОСТИЖЕНИЯ КОМПАНИИ ЗА 2021-2023 ГОДА</h2>
            <div class="achievements__list">
                {% for ach in object_list %}
                <div class="achievements__item">
                    <img src="{{ach.img.url}}">
                    <p>{{ach.text}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}