{% extends "components/layout.html" %}

{% load static %}


{% block title %}Главная{% endblock title %}



{% block content %}
<section class="documents_page__wrapper">
    <div class="container">
        <div class="documents_page">
            <h2>СЕРТИФИКАТЫ И ДОКУМЕНТАЦИЯ</h2>
            <div class="documents__list">
                <div class="document__box">
                    <h5>Проектная документация</h5>
                    <span>2023-09-25 </span>
                    <h3>Обустройство Арктического месторождения. Многофункциональная площадка</h3>
                    <p>Целью данной работы является оценка экологических последствий намечаемой хозяйственной деятельности для предотвращения или смягчения воздействия этой деятельности и связанных с ней социальных, экономических и иных последствий на окружающую среду.</p>
                    <a>Скачать</a>
                </div>
                <div class="document__box">
                    <h5>Проектная документация</h5>
                    <span>2023-09-25 </span>
                    <h3>Многофункциональная площадка в п. Сабетта</h3>
                    <p>Многофункциональная площадка по обращению с промышленными и бытовыми отходами (МФП) предназначается  для централизованного сбора, накопления и обработки (сортировки) отходов I–V классов опасности, а также для утилизации, термического обезвреживания (в том числе – сжигания)</p>
                    <a>Скачать</a>
                </div>
                <div class="document__box">
                    <h5>Проектная документация</h5>
                    <span>2023-09-16</span>
                    <h3>Расширение и обустройство кустовых площадок Южно-Тамбейского ГКМ</h3>
                    <p>Южно-Тамбейское газоконденсатное месторождение расположено в восточной части полуострова Ямал, в 540 км к северо-востоку от г. Салехарда. Ближайшими месторождениями являются Западно-Тамбейское, Северо-Тамбейское и Тасийское, которые вместе с Южно-Тамбейским месторождением образуют Тамбейскую группу месторождений.</p>
                    <a>Скачать</a>
                </div>
            </div>
            <div class="references">
                <h3>Референции</h3>
                <div class="references__block">
                    <p>ЮЖНИИГИПРОГАЗ – один из ведущихпроектно-изыскательских институтов нефтегазового комплекса.
                        <br><br>
                        ЮЖНИИГИПРОГАЗ выполняет полный комплексработ по проектированию вновь строящихся иреконструируемых объектов газовойпромышленности в области добычи, хранения,переработки, транспорта и распределенияприродного газа и его компонентов в России истранах СНГ.
                        <br><br>
                        Сегодня ЮЖНИИГИПРОГАЗ – это 650высококвалифицированных специалистов,обладающих огромным опытом, широкимпотенциалом творческих возможностей, владеющихновейшими средствами автоматизированногопроектирования и способных решать любыесложные научно-технические и практическиепроблемы в своей отрасли.
                    </p>
                    <div class="references__list">
                        <div class="references__item">
                            <img src="{% static '/references/1.png' %}">
                            <div>
                                <h4>Обустройство газоконденсатных месторождений</h4>
                                <span>Самбургского, Салмановского, ЮжноТамбейского, Ево-Яхинского ЛУ,Восточно-Уренгойского,Западно – Сеяхинского,Верхнетиутейского</span>
                            </div>
                        </div>
                        <div class="references__item">
                            <img src="{% static '/references/2.png' %}">
                            <div>
                                <h4>Переработка природного газа и конденсата</h4>
                                <span>Пуровский завод по переработке газового конденсата, Усть-Кутская газофракционирующая установка, Терминал СПГ в порту Высоцк</span>
                            </div>
                        </div>
                        <div class="references__item">
                            <img src="{% static '/references/3.png' %}">
                            <div>
                                <h4>Магистральные газопроводы</h4>
                                <span>В общей сложности по проектам,выполненными сотрудниками институтапостроено свыше 5 тыс. кммагистральных газопроводов, и двухсоткомпрессорных станций, в том числе 19ниток МГ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="directions">
                <h3>Направления деятельности</h3>
                <div class="directions__block">
                    <div>ДОБЫЧА</div>
                    <div><img src="{% static '/directions/1.png' %}"></div>
                    <div><img src="{% static '/directions/2.png' %}"></div>
                    <div>ПЕРЕРАБОТКА, СЖИЖЕНИЕ</div>
                    <div>ТРАНСПОРТ</div>
                    <div><img src="{% static '/directions/3.png' %}"></div>
                    <div><img src="{% static '/directions/4.png' %}"></div>
                    <div>ПОДЗЕМНОЕ ХРАНЕНИЕ ГАЗА</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}