{% extends "components/layout.html" %}

{% load static %}


{% block title %}Главная{% endblock title %}



{% block content %}
<section class="documents_page__wrapper">
    <div class="container">
        <div class="documents_page">
            <h2>СЕРТИФИКАТЫ И ДОКУМЕНТАЦИЯ</h2>
            <div class="documents__list">
                {% for document in object_list %}
                    <div class="document__box">
                        <h5>Проектная документация</h5>
                        <span>{{document.data}}</span>
                        <h3>{{document.heading}}</h3>
                        <p>{{document.text}}</p>
                        <a href="{{document.file.url}}" download>Скачать</a>
                    </div>
                {% endfor %}
                
            </div>
            <div class="references">
                <h3>Референции</h3>
                <div class="references__block">
                    <p>ЮЖНИИГИПРОГАЗ – один из ведущихпроектно-изыскательских институтов нефтегазового комплекса.
                        <br><br>
                        ЮЖНИИГИПРОГАЗ выполняет полный комплексработ по проектированию вновь строящихся иреконструируемых объектов газовойпромышленности в области добычи, хранения,переработки, транспорта и распределенияприродного газа и его компонентов в России истранах СНГ.
                        <br><br>
                        Сегодня ЮЖНИИГИПРОГАЗ – это 650высококвалифицированных специалистов,обладающих огромным опытом, широкимпотенциалом творческих возможностей, владеющихновейшими средствами автоматизированногопроектирования и способных решать любыесложные научно-технические и практическиепроблемы в своей отрасли.
                    </p>
                    <div class="references__list">
                        <div class="references__item">
                            <img src="{% static '/references/1.png' %}">
                            <div>
                                <h4>Обустройство газоконденсатных месторождений</h4>
                                <span>Самбургского, Салмановского, ЮжноТамбейского, Ево-Яхинского ЛУ,Восточно-Уренгойского,Западно – Сеяхинского,Верхнетиутейского</span>
                            </div>
                        </div>
                        <div class="references__item">
                            <img src="{% static '/references/2.png' %}">
                            <div>
                                <h4>Переработка природного газа и конденсата</h4>
                                <span>Пуровский завод по переработке газового конденсата, Усть-Кутская газофракционирующая установка, Терминал СПГ в порту Высоцк</span>
                            </div>
                        </div>
                        <div class="references__item">
                            <img src="{% static '/references/3.png' %}">
                            <div>
                                <h4>Магистральные газопроводы</h4>
                                <span>В общей сложности по проектам,выполненными сотрудниками институтапостроено свыше 5 тыс. кммагистральных газопроводов, и двухсоткомпрессорных станций, в том числе 19ниток МГ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="directions">
                <h3>Направления деятельности</h3>
                <div class="directions__block">
                    <div>ДОБЫЧА</div>
                    <div><img src="{% static '/directions/1.png' %}"></div>
                    <div><img src="{% static '/directions/2.png' %}"></div>
                    <div>ПЕРЕРАБОТКА, СЖИЖЕНИЕ</div>
                    <div>ТРАНСПОРТ</div>
                    <div><img src="{% static '/directions/3.png' %}"></div>
                    <div><img src="{% static '/directions/4.png' %}"></div>
                    <div>ПОДЗЕМНОЕ ХРАНЕНИЕ ГАЗА</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}