{% extends "components/layout.html" %}

{% block title %}Главная{% endblock title %}



{% block content %}
<section class="hero__wrapper">
    <div class="container">
        <div class="hero">
            <div>
                <h2>Вас приветствует компания</h2>
                <h1>ИНСТИТУТ ЮЖИИГИПРОГАЗ</h1>
                <h3>Мы занимаемся проектированием в области газовой промышленности. Наш профессионализм - Наше гарантия </h3>
            </div>
            <div class="hero__carousel">
    
            </div>
        </div>
    </div>
</section>
<section class="examples__wrapper">
    <div class="container">
        <h2 class="section__title">Примеры готовых работ</h2>
        <div class="examples">
            <div class="example__block">
                <img src="/">
                <div class="title">Обустройство Салманского (Утреннего) НГКМ в рамках проекта “Арктик СПГ-2”</div>
            </div>
            <div class="example__block">
                <img src="/">
                <div class="title">Расширение Пунгинского ПХГ</div>
            </div>
            <div class="example__block">
                <img src="/">
                <div class="title">Обустройство Верхнетиутейского и Западно-Сеяхинского месторождений в рамках проекта "Обский ГХК"</div>
            </div>
            <div class="example__block">
                <img src="/">
                <div class="title">Обустройство Южно-Русского НГМ</div>
            </div>
        </div>
    </div>
</section>
<section class="business__wrapper">
    <div class="container">
        <h2 class="section__title">Деятельность компании</h2>
    </div>
</section>
<section class="achievements__wrapper">
    <div class="container">
        <h2 class="section__title">Примеры готовых работ</h2>
    </div>
</section>
<section class="services__wrapper">
    <div class="container">
        <h2 class="section__title">Основные услуги</h2>
    </div>
</section>
{% endblock content %}