{% extends "components/layout.html" %}

{% block title %}Главная{% endblock title %}



{% block content %}
<section class="hero__wrapper">
    <div class="container">
        <div class="hero">
            <div>
                <h2>Вас приветствует компания</h2>
                <h1>ИНСТИТУТ ЮЖИИГИПРОГАЗ</h1>
                <h3>Мы занимаемся проектированием в области газовой промышленности. Наш профессионализм - Наше гарантия </h3>
            </div>
            <div class="hero__carousel">
    
            </div>
        </div>
    </div>
</section>
<section class="examples__wrapper">
    <div class="container">
        <h2 class="section__title">Примеры готовых работ</h2>
        <div class="examples">
            <div class="example__block">
                <img src="/">
                <div class="title">Обустройство Салманского (Утреннего) НГКМ в рамках проекта “Арктик СПГ-2”</div>
            </div>
            <div class="example__block">
                <img src="/">
                <div class="title">Расширение Пунгинского ПХГ</div>
            </div>
            <div class="example__block">
                <img src="/">
                <div class="title">Обустройство Верхнетиутейского и Западно-Сеяхинского месторождений в рамках проекта "Обский ГХК"</div>
            </div>
            <div class="example__block">
                <img src="/">
                <div class="title">Обустройство Южно-Русского НГМ</div>
            </div>
        </div>
    </div>
</section>
<section class="business__wrapper">
    <div class="container">
        <h2 class="section__title">Деятельность компании</h2>
        <div class="business__blocks">
            <div class="business__block">
                <div class="business__block__icon">
                    <img>
                </div>
                <div>
                    <h3>Концептуальное проектирование, оцека эффективности и рисков</h3>
                    <p>Наша компания решает множество проблем, которые могут появиться в процессе проектирования. Перед началом проектирования Мы производим оценку эффективности и рисков ...</p>
                    <button>Развернуть</button>
                </div>
            </div>
            <div class="business__block">
                <div class="business__block__icon">
                    <img>
                </div>
                <div>
                    <h3>Архитектурно-строительное проектирование</h3>
                    <p>Проектируем объекты обустройства газовых, нефтегазовых и нефтегазоконденсатных месторождений, объекты магистрального трубопроводного транспорта ...</p>
                    <button>Развернуть</button>
                </div>
            </div>
            <div class="business__block">
                <div class="business__block__icon">
                    <img>
                </div>
                <div>
                    <h3>Комплексные инженерные изыскания</h3>
                    <p>Выполнение комплекса инженерных изысканий для строительства, включая: Сбор исходных данных, геодезичиское изыскания, геогологические изыскания ...</p>
                    <button>Развернуть</button>
                </div>
            </div>
            <div class="business__block">
                <div class="business__block__icon">
                    <img>
                </div>
                <div>
                    <h3>Авторский надзор за строительством и оказание консультационных услуг</h3>
                    <p>Авторское сопровождение запроектированных объектов на протяжении всего их жизненного цикла, включая: авторский надзор в период строительства ...</p>
                    <button>Развернуть</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="achievements__wrapper">
    <div class="container">
        <h2 class="section__title">Примеры готовых работ</h2>
        <div class="achievements">
            <div>
                <h2>96</h2>
                <h3>ПОЛОЖИТЕЛЬНЫХ ЭКСПЕРТНЫХ ЗАКЛЮЧЕНИЙ ГЛАВГОСЭКСПЕРТИЗЫ</h3>
            </div>
            <div class="achievements_icons">
                <div>
                    <img>
                    <p>Более 40 завершенных проетов</p>
                </div>
                <div>
                    <img>
                    <p>Партнерство с титанами газовой индустрии</p>
                </div>
                <div>
                    <img>
                    <p>Современный подход к разработке проектов</p>
                </div>
                <div>
                    <img>
                    <p>Более 650 квалифицированных специалистов</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services__wrapper">
    <div class="container">
        <h2 class="section__title">Основные услуги</h2>
        <div class="services">
            <div class="service">Технологическое проектирование объектов газовой и нефтяной промышленности</div>
            <div class="service">Разработка градостроительной документации</div>
            <div class="service">Проектирование инженерных сетей и систем</div>
            <div class="service">Строительное проектирование</div>
            <div class="service">Архитектурное проектирование</div>
            <div class="service">Разработка специальных разделов проектов</div>
            <div class="service">Проектный инжиниринг</div>
            <div class="service">Иненерно-геодезические изыскания</div>
            <div class="service">Инженерно-геологические изыскания</div>
            <div class="service">Инженерно-гидрометеорологические изыскания</div>
            <div class="service">Инженерно-экологические изыскания</div>
        </div>
        <h4>Специалисты института работают с использованием стандартов и нормативов стран СНГ и дальнего зарубежья, проектная документация может выполняться с переводом на английский и немецкий языки</h4>
    </div>
</section>
{% endblock content %}