{% extends "components/layout.html" %}

{% load static %}


{% block title %}Главная{% endblock title %}



{% block content %}
<section class="hero__wrapper">
    <div class="container">
        <div class="hero">
            <div>
                <h2>Вас приветствует компания</h2>
                <h1>ИНСТИТУТ ЮЖИИГИПРОГАЗ</h1>
                <h3>Мы занимаемся проектированием в области газовой промышленности. Наш профессионализм - Наше гарантия </h3>
            </div>
            <div class="hero__carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{% static "/carousel/1.png" %}"></div>
                        <div class="swiper-slide"><img src="{% static "/carousel/2.jpg" %}"></div>
                        <div class="swiper-slide"><img src="{% static "/carousel/3.jpg" %}"></div>
                    </div>
                
            </div>
        </div>
    </div>
</section>
<section class="examples__wrapper">
    <div class="container">
        <h2 class="section__title">Примеры готовых работ</h2>
        <div class="examples">
            {% for ex in object_list %}
            <div class="example__block">
                <img src="{{ex.img.url}}">
                <div class="title">{{ex.text}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="business__wrapper">
    <div class="container">
        <h2 class="section__title">Деятельность компании</h2>
        <div class="business__blocks">
            <div class="business__block">
                <div class="business__block__icon">
                    <img src="{% static "/business/1.svg" %}">
                </div>
                <div>
                    <h3>Концептуальное проектирование, оцека эффективности и рисков</h3>
                    <p>Наша компания решает множество проблем, которые могут появиться в процессе проектирования. Перед началом проектирования Мы производим оценку эффективности и рисков ...</p>
                    <a href="/services"><button>Развернуть</button></a>
                </div>
            </div>
            <div class="business__block">
                <div class="business__block__icon">
                    <img src="{% static "/business/2.svg" %}">
                </div>
                <div>
                    <h3>Архитектурно-строительное проектирование</h3>
                    <p>Проектируем объекты обустройства газовых, нефтегазовых и нефтегазоконденсатных месторождений, объекты магистрального трубопроводного транспорта ...</p>
                    <a href="/services"><button>Развернуть</button></a>
                </div>
            </div>
            <div class="business__block">
                <div class="business__block__icon">
                    <img src="{% static "/business/3.svg" %}">
                </div>
                <div>
                    <h3>Комплексные инженерные изыскания</h3>
                    <p>Выполнение комплекса инженерных изысканий для строительства, включая: Сбор исходных данных, геодезичиское изыскания, геогологические изыскания ...</p>
                    <a href="/services"><button>Развернуть</button></a>
                </div>
            </div>
            <div class="business__block">
                <div class="business__block__icon">
                    <img src="{% static "/business/4.svg" %}">
                </div>
                <div>
                    <h3>Авторский надзор за строительством и оказание консультационных услуг</h3>
                    <p>Авторское сопровождение запроектированных объектов на протяжении всего их жизненного цикла, включая: авторский надзор в период строительства ...</p>
                    <a href="/services"><button>Развернуть</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="achievements__wrapper">
    <div class="container">
        <h2 class="section__title">Примеры готовых работ</h2>
        <div class="achievements">
            <div>
                <h2>96</h2>
                <h3>ПОЛОЖИТЕЛЬНЫХ ЭКСПЕРТНЫХ ЗАКЛЮЧЕНИЙ ГЛАВГОСЭКСПЕРТИЗЫ</h3>
            </div>
            <div class="achievements_icons">
                <div>
                    <img src="{% static "/achievements/3.svg" %}">
                    <p>Более 40 завершенных проетов</p>
                </div>
                <div>
                    <img src="{% static "/achievements/4.svg" %}">
                    <p>Партнерство с титанами газовой индустрии</p>
                </div>
                <div>
                    <img src="{% static "/achievements/1.svg" %}">
                    <p>Современный подход к разработке проектов</p>
                </div>
                <div>
                    <img src="{% static "/achievements/2.svg" %}">
                    <p>Более 650 квалифицированных специалистов</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services__wrapper">
    <div class="container">
        <h2 class="section__title">Основные услуги</h2>
        <div class="services">
            <div class="service">Технологическое проектирование объектов газовой и нефтяной промышленности</div>
            <div class="service">Разработка градостроительной документации</div>
            <div class="service">Проектирование инженерных сетей и систем</div>
            <div class="service">Строительное проектирование</div>
            <div class="service">Архитектурное проектирование</div>
            <div class="service">Разработка специальных разделов проектов</div>
            <div class="service">Проектный инжиниринг</div>
            <div class="service">Иненерно-геодезические изыскания</div>
            <div class="service">Инженерно-геологические изыскания</div>
            <div class="service">Инженерно-гидрометеорологические изыскания</div>
            <div class="service">Инженерно-экологические изыскания</div>
        </div>
        <h4>Специалисты института работают с использованием стандартов и нормативов стран СНГ и дальнего зарубежья, проектная документация может выполняться с переводом на английский и немецкий языки</h4>
    </div>
</section>
{% endblock content %}