{% extends "components/layout.html" %}

{% load static %}


{% block title %}Главная{% endblock title %}



{% block content %}
    <div class="container">
        <div class="projects_page">
            <h2>ПРОЕКТЫ ОБУСТРОЙСТВА МЕСТОРОЖДЕНИЙ</h2>
            <section class="projects__list">
                <div class="projects__item">
                   <div class="item__information">
                        <h3>Обустройство Салманского (Утреннего) НГКМ в рамках проекта “Арктик СПГ-2”</h3>
                        <span>Инвестор: ПАО “НОВАТЭК”
                            Производительность УКПГ:
                            - 29,7 млрд. м3/год по товарному газу
                            - 1,514 млн. т/год по стабильному конденсату</span>
                        <p>Проект предусматривает строительство трёх технологических линий по производству сжиженного природного газа мощностью 6,6 млн т в год каждая. Общая мощность трех линий составит 19,8 млн т СПГ и до 1,6 млн т стабильного газового конденсата в год.</p>
                   </div>
                   <div class="item__slider">
                        <img src="{% static '/a.png' %}">
                   </div>
                </div>
                <div class="projects__item">
                    <div class="item__information">
                         <h3>Обустройство Салманского (Утреннего) НГКМ в рамках проекта “Арктик СПГ-2”</h3>
                         <span>Инвестор: ПАО “НОВАТЭК”
                             Производительность УКПГ:
                             - 29,7 млрд. м3/год по товарному газу
                             - 1,514 млн. т/год по стабильному конденсату</span>
                         <p>Проект предусматривает строительство трёх технологических линий по производству сжиженного природного газа мощностью 6,6 млн т в год каждая. Общая мощность трех линий составит 19,8 млн т СПГ и до 1,6 млн т стабильного газового конденсата в год.</p>
                    </div>
                    <div class="item__slider">
                         <img src="{% static '/a.png' %}">
                    </div>
                 </div>
                 <div class="projects__item">
                    <div class="item__information">
                         <h3>Обустройство Салманского (Утреннего) НГКМ в рамках проекта “Арктик СПГ-2”</h3>
                         <span>Инвестор: ПАО “НОВАТЭК”
                             Производительность УКПГ:
                             - 29,7 млрд. м3/год по товарному газу
                             - 1,514 млн. т/год по стабильному конденсату</span>
                         <p>Проект предусматривает строительство трёх технологических линий по производству сжиженного природного газа мощностью 6,6 млн т в год каждая. Общая мощность трех линий составит 19,8 млн т СПГ и до 1,6 млн т стабильного газового конденсата в год.</p>
                    </div>
                    <div class="item__slider">
                         <img src="{% static '/a.png' %}">
                    </div>
                 </div>
            </section>
            <h2>КРУПНЕЙШИЕ ПРОЕКТЫ ИНСТИТУТА ПОСЛЕДНИХ ЛЕТ</h2>
            <p>Строительство комплекса по добыче, подготовке, сжижению газа, отгрузке СПГ и газового конденсата</p>
            
            <section class="big_projects">
                <div class="big_projects__list">
                    <div class="big_projects__item">
                        <p>Добыча природного газа – 28 млрд м3/год<br>
                            Производство СПГ – 15 ÷ 16,5 млн т/год<br>
                            СПГПроизводство стабильного конденсата – 1,2 млн/год</p>
                    </div>
                    <div class="big_projects__item">
                        <p>Газосборная сеть месторождения:<br>
                            Количество скважин – 208 (19 кустов)<br>
                            Протяженность газопроводов-шлейфов – 258,2 км</p>
                    </div>
                    <div class="big_projects__item">
                        <p>Входные сооружения:
                            Здание переключающей арматуры – 13 подключений<br>
                            2 установки сепарации газа – 4 х 12 млн м3/сут.<br>
                            2 установки стабилизации конденсата – 0,6 млн т/год</p>
                    </div>
                    <div class="big_projects__item">
                        <p>Завод СПГ:
                            3 технологические линии – 5 ÷ 5,5 млн т/год</p>
                    </div>
                    <div class="big_projects__item">
                        <p>Хранение СПГ и стабильного конденсата:<br>
                            Резервуары хранения СПГ – 4 х 160 тыс м3<br>
                            Резервуары хранения стаб. конденсата – 3 х 50 тыс.м3</p>
                    </div>
                    <div class="big_projects__item">
                        <p>Разработка 3D-модели</p>
                    </div>
                </div>
                <div class="big_projects__slider">
                    <img src="{% static '/a.png' %}">
                </div>
            </section>
        </div>
    </div>
{% endblock content %}